header:hover {
	color: #4aaaa5;
	background-color: #ffffff;
	border: 2px solid #4aaaa5;
	padding: 18px;
}

a:visited {
	color: #006485;
}

a:link {
	color: #006485;
}

a:hover {
	color: turquoise;
}

a:active {
	color: turquoise;
}

#githubicon:hover {
	background: url("../images/githubicon2.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

#linkedinicon:hover {
	background: url("../images/linkedinicon2.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

#stackoverflowicon:hover {
	background: url("../images/stackoverflowicon2.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

#submitform:hover {
	background-color: #ffffff;
	border: 2px solid #4aaaa5;
	color: #4aaaa5;
	padding: 8px 28px 8px 28px;
}

.title:hover {
	background-color: #ffffff;
	color: #4aaaa5;
}





