body {
	/* background-image: url("../images/background.jpg"); */
	background-size: cover;
	background-color: lightskyblue;
	margin-bottom: 60px;
}

#blankspaceattop {
	background-color: white;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: lightskyblue;
	height: 53px;
	padding-top: 15px;
}

h1 {
	text-align: center;
	margin: 0px;
	padding: 5px;
	text-shadow: 0 0 5px #3aa6e6, 0 0 10px #3aa6e6, 0 0 15px #3aa6e6, 0 0 20px #3aa6e6, 0 0 35px #3aa6e6, 0 0 40px #3aa6e6, 0 0 50px #3aa6e6, 0 0 75px #3aa6e6 !important; 
	
}

h1:hover {
	opacity: 1;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 5px;
}

h2 {
	border-bottom: solid #dddddd;
	color: white !important;
	padding-bottom: 10px;
	position: relative;
    
}

#Inside_Section, #Connect_With_Me {
	background-color: #B6E3FD;
	border-bottom: 3px solid #cccccc;
	padding: 20px;
	margin-bottom: 20px;
}

#MyPic {
	float: left;
	background: url("../images/profilepic5.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 267px;
	margin-right: 10px;
}

#MyPic:hover { 
	float: left;
	background: url("../images/profilepic6.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 267px;
}

p { 
	color: #3aa6e6;
	font-size: 16px;
}

#githubicon {
	background: url("../images/githubicon.png");
	background-size: contain;
	background-repeat: no-repeat;
	text-decoration: none;
	width: 30px;
	height: 30px;
}

#githubicon:hover { 
	background: url("../images/githubicon2.png");
	background-size: contain;
	width: 30px;
	height: 30px;
}

#linkedinicon {
	background: url("../images/linkedinicon.png");
	background-size: contain;
	margin: 10px;
	width: 30px;
	height: 30px;
}

#linkedinicon:hover { 
	background: url("../images/linkedinicon2.png");
	background-size: contain;
	margin: 10px;
	width: 30px;
	height: 30px;
}

#stackoverflowicon {
	background: url("../images/stackoverflowicon.png");
	background-size: contain;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

#stackoverflowicon:hover {
	background: url("../images/stackoverflowicon2.png");
	background-size: contain;
	width: 30px;
	height: 30px;
}

footer {
	text-align: center;
	border-top: 5px solid lightskyblue;
	background-color: #666666;
	color: darkgrey;
	/* padding: 20px; */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 7%;
}

a, a:link {
	color: navy; 
	text-decoration: none;
}

#kitty {
	color: blue; 
	text-decoration: underline;
}

#About_Me, #Contact_Me, #Portfolio_Section {
	margin: 30px;
}

#Inside_Portfolio_Section {
	background-color: lightskyblue;
}

#Portfolio_images {
	position: absolute;
	width: 225px;
	height: 180px;
	float: left; 
	margin-left: -7px;
	border-radius: 4px;
	bottom: 10px;
}

 .Work { 
	position: relative;
	float: left;
}

.title {
	position: absolute;
	background-color: lightskyblue;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	padding: 15px 0px 15px 0px;
	margin-left: 17px;
	width: 250px; 
	margin-top: 120px;
} 

#smaller {
	font-size: 12px;
	line-height: 1.75;
}

.techs {
	color: white;
	padding-bottom: 10px;

}

.text-center {
	color: #B6E3FD;
	font-size: 14px;
}

li {
	color: white !important;
	transition: filter .2s;
	text-decoration: none;
	transition: all ease-in-out .2s;
}

li:hover {
	filter: brightness(80%);

}

#inactivelink {
	color: gray; 
	height: 53px;
	padding-top: 15px;
}

#inactivelink:hover {
	color: white; 
	background-color: lightskyblue;
	height: 53px;
}

.btn {
	margin-top: 10px;
	background-image: none !important;
	border: none !important;
}

.btn-success {
	opacity: 1;
	color: lightskyblue !important;
	background-color: white !important;
	transition: filter .2s;
}

.btn-success:hover {
	filter: brightness(85%);
}

.btn-warning, .btn-info {
	opacity: 1;
	color: white !important;
	background-color: lightskyblue !important;
	transition: filter .2s;
}

.btn-warning:hover , .btn-info:hover {
	filter: brightness(85%);
}

#namelink {
	color: #ffffff !important; 
	opacity: 1 !important; 
	transition: color .2s !important; 
}

#namelink:hover {
	color: lightskyblue !important;   
}

.navbar-default {
	background-image: none !important;
	background-color: white !important;
	border: none !important;
}

.navbar-default .navbar-nav > li > a {
	color: #777 !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white !important;
	background-color: lightskyblue;
	border-bottom: none;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: lightskyblue !important;
	color: #3aa6e6 !important;
}

a:hover {
	color: #3aa6e6 !important;
}

.navbar {
	max-height: 50px;
}

#mailme {
	color: white;
	background-color: #3aa6e6;
}

#mailme:hover {
	color: lightskyblue !important;
	
}